@mixin vertical-centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin whiteback-editable {
  border-bottom: none;
  &:hover, &:focus {
    background: white;
  }
}

